html{
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
    border-style:solid;
    border-color: red;
    border-width:2px;
    justify-content: center;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
}
 
body{
    width: 1300px;
}

.logs{
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}


h1{
    font-size: 250px;
    margin: -65px;
}


.header-inner{
    width: 1250px;
    font-weight: 900;
   height: 620px;
   }

.left{
    font-size: 75px;
}

.center{
    padding: 2px;
    display: flex;
    justify-content: space-between;
}
 
.right{
    float: right;
    font-size: 75px;
}

.header-inner h4{
    font-size: 40px;
    width: 30%;
}

.info{
    width: 1300px;
    line-height: 25px;
    justify-items: center;
}

.scedule{
    width: 1000px;
    margin: 30px auto;
   
}    

.title{
display: flex;
font-weight: 900;
justify-content: space-between;
margin: 0 32%;

}

ul{
    list-style-type: none;
    column-count: 2;
    border-top: solid;
    border-bottom:solid;
    border-color: red;
    border-width:2px;
 }

.teacher{    
    font-style: italic;
    float: right;
}

ul p{
 font-weight: 900;
 padding: 0px 100px;
}

footer h5{
   text-decoration: underline; 
}

.cont{
    display: flex;
    justify-content: space-between;
}

.cont a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}

ul span{
    line-height: 2;
}


    @media (max-width: 575.98px) {

   html{
            max-width:  500px;
            font-size: 10px;
        }
        
             body{
                 max-width:80% ;
             }

        h1{
            font-size: 70px;
            margin: -10px;
        }
        
        header{
            justify-content: center;
        }

        
        .header-inner{
            max-width: 450px;
            font-weight: 900;
            height: auto;
            }
        
        .left{
            font-size: 20px;
        }
        
        .center{
            padding: 2px;
            display: flex;
            justify-content: space-between;
        }
         
        .right{
            float: right;
            font-size: 20px;
        }
        
        .header-inner h4{
            font-size: 15px;
            width: 30%;
        }

        .info{
            max-width: 450px;
            line-height: 25px;
            justify-items: center;
        }
        
        .scedule{
            width: 200px;
            margin: 0 auto;
           
        }    
        
            
        ul{
            list-style-type: none;
            border: solid;
            border:solid;
            border-color: red;
            border-width:2px;
            width: 300px;
            column-count: 1;
            margin: auto 5px;
         }
        
        .teacher{
            font-style: italic;
            float:right;
        }
        
        ul p{
         font-weight: 900;
         padding: 0px 50px;
        }

        footer{
            max-width: 450px;
        }
        
    }    